@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

html, body {
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  padding: 1em;
  height: 100%;
}

.header a {
  padding-right: .5em;
}

.container {
  flex: 1 0 auto;
  width: 50%;
}

.post-listing {
  list-style-type: none;
}

.post-listing-title {
  margin-bottom: 0;
}

.footer {
  text-align: center;
  flex-shrink: 0;
}

