---
title: neat links
layout: base.njk
pagination:
  data: neat
  size: 10
---

<h1>neat links</h1>
<p>
  A bunch of links that I find interesting, feel free to check any of them out. Or...
  <button onclick="random_link()">
    Go to a random link
  </button>
</p>
<ul>
{%- for link in pagination.items %}
  <li class="link-listing">
    <h3 class="link-listing-title">
      <a href={{ link.url }}>
        {{ link.title }}
      </a>
    </h3>
    {{ link.description }}
  </li>
{% endfor -%}
</ul>
{% if pagination.href.previous %}
  <a href="{{ pagination.href.previous }}">Previous</a>
{% endif %}
{% if pagination.href.next %}
  <a href="{{ pagination.href.next}}">Next</a>
{% endif %}

<script>
  const links = {{ links | toJSON | safe }};
  function random_link() {
    const randIndex = Math.floor(Math.random() * links.length);
    window.open(links[randIndex].url, '_blank').focus();
  }
</script>

