<!DOCTYPE html>
<html lang="en">
  {% include "head.njk" %}
  <body>
    {% if page.url != '/' %}
      <div class="header">
        <a href="/">Home</a>
      </div>
    {% endif %}
    <div class="container">
      {{ content | safe }}
    </div>
    <div class="footer">
      <p>
        Blake Johnson - 2024
        <br />
        Source on <a href="https://github.com/blakekjohnson/blog">GitHub</a>
      </p>
    </div>
  </body>
</html>
