<!DOCTYPE html>
<html lang="en">
  {% include "head.njk" %}
  <body>
    {% include "nav.njk" %}
    <div class="container">
      {{ content | safe }}
    </div>
    <div class="footer">
      <p>
        Blake Johnson - 2024
        <br />
        <a href="/feed.xml"><i class="fa-solid fa-rss"></i></a> |
        Source on <a href="https://github.com/blakekjohnson/dotdev">GitHub</a>
      </p>
    </div>
  </body>
</html>
